<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

  <style>
    form {
      margin: 70px;
    }

    .card_tarea {
      margin: 50px;
    }
  </style>
</head>

<body>
  <form action="enviar" method="POST">
    <label for="tituloU">Titulo: </label>
    <input type="text" name="titulo" id="titulo_id" /><br />

    <label for="correoU">Correo: </label>
    <input type="email" name="correo" id="correo_id" /><br />

    <label for="prioridadU">Prioridad: </label>
    <input type="text" name="prioridad" id="prioridad_id" /><br />

    <input type="submit" value="enviar" />
  </form>

  <div id="lista_tareas">
    <div class="card_tarea">
      <span id="idS">1</span>
      <span id="tituloS"> Samuel</span>
      <span id="correoS"> Ledesma</span>
      <span id="prioridadS"> Alta</span>
    </div>
  </div>

  <form action="{{url_for('borrar')}}" method="post" class="card-body">

    <button type="submit" class="btn btn-danger mb-2">Borrar tareas</button>

</form>

</body>
<!--
<script>
  var container = document.getElementById("lista_tareas"), test = {{ datosF | tojson }};

  for(var i = 0; i < test.length; i++){
   //Creamos los el contenedor de la tarea
    var card = document.createElement('div');
    etiqueta.setAttribute("class", "card_tarea");
   //Creamos los elementos de la tarea
    var tareaID = document.createElement('span');
    codigoID.setAttribute("id", "idS");

    var tareaTitulo = document.createElement('span');
    txtContenedor.setAttribute("id", "tituloS");

    var tareaCorreo = document.createElement('span');
    codigoID.setAttribute("id", "correoS");

    var tareaPrioridad = document.createElement('span');
    txtContenedor.setAttribute("id", "prioridadS");
    
    //Creamos las variable de los datos de cada tarea
    var txtID = document.createTextNode(test[i].id);
    var txtTitulo = document.createTextNode(test[i].titulo);
    var txtCorreo = document.createTextNode(test[i].correo);
    var txtPrioridad = document.createTextNode(test[i].prioridad);

    tareaID.appendChild(txtID);
    tareaTitulo.appendChild(txtTitulo);
    tareaCorreo.appendChild(txtCorreo);
    tareaPrioridad.appendChild(txtPrioridad);

    card.appendChild(tareaID);
    card.appendChild(tareaTitulo);
    card.appendChild(tareaCorreo);
    card.appendChild(tareaPrioridad);

    container.appendChild(card);
  }
  -->
</script>
</html>